<div class="container">
    <div class="row">
      <div class="col col-md">
        <h1>Por favor, seleccione una fecha y una sección o más</h1>
      </div>
    </div>
    <div class="row">
      <div class="col col-md">
        <app-datepicker (onDataSelected)="onDateSelected($event)"></app-datepicker>
      </div>
    </div>
    <div class="row" *ngIf="showProgressBar">
      <div class="col col-md">
        <mat-progress-bar mode="indeterminate" ></mat-progress-bar>
      </div>
    </div>
    <div class="row" *ngIf="showErrorMessage">
      <div class="col col-md">
        <app-error-message></app-error-message>
      </div>
    </div>
    <div class="row" *ngIf="showWarningMessage">
      <div class="col col-md">
        <app-empty-result-message></app-empty-result-message>
      </div>
    </div>
    <app-slot></app-slot>
</div>
